<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
	  <a href="{{ .Site.BaseURL }}">
	  <img src="/img/heidi.jpg" style="display:block;margin-left:auto;margin-right:auto;border-radius:100%;width:60%">
	  <img src="/img/logo.jpg" style="display:block;margin-left:auto;margin-right:auto;width:80%">
      <!--<h1>Praxis<br>Dr. Heidi Graber-König</h1>-->
	  </a>
      <p class="lead">
      {{ .Site.Params.description }}
      </p>
	  <p style="font-size:16px;">Harderstraße 70,  
		A-6923 Lauterach<br>
		<a href="tel:+4369912003331" style="color:inherit">+43 69912592620 </a>
	  </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
         <li><a href="#tcm"> TCM </a></li>
         <li><a href="#psycho"> Psychosomatische Medizin </a></li>
         <li><a href="#praxis"> Praxis </a></li>
         <li><a href="#uebermich"> Über mich </a></li>
         <li><a href="#kontakt"> Kontakt </a></li>
      </ul>
    </nav>

  </div>
</aside>
